* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --primary-color: #f5f1ed;
  --links-color: black; /* #355070 */
  --text-color: #2b333d;
}

html {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(to top right, var(--primary-color), white);
  background-size: cover;
}

body {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  padding: 15px;
  color: var(--text-color);
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5em;
  font-weight: 500;
  color: #333333;
}

a {
  text-decoration: none;
  color: var(--links-color);
}

nav {
  margin-bottom: 4em;
}

.window {
  background-color: var(--primary-color);
  width: 900px;
  margin: 5vh auto;
  border-radius: 7px;
  background-blend-mode: difference;
}

.window-content {
  padding: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.window-content p {
  padding-bottom: 10px;
}

.bg-lines {
  background: url(../images/bg-lines3.svg);
  background-repeat: no-repeat;
  background-position: -10rem -10rem;
  border-radius: 10px;
  background-size: 450px;
}

.bg-lines-right {
  background: url(../images/bg-lines2.svg);
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: -10rem -10rem;
  background-size: 450px;
}

p.description {
  display: block;
  width: 40em;
  margin: auto;
  line-height: 1.6em;
  font-size: 14px;
  text-align: left;
  word-spacing: 0.2em;
}

li {
  margin: 20px auto;
}

.nav-item {
  text-decoration: none;
  color: var(--links-color);
  margin: 30px 30px;
}

a:hover,
.nav-item:hover,
footer a:hover {
  color: dimgray;
}

.img-profile {
  display: block;
  margin: 30px auto 30px auto;
  width: 30em;
  border-radius: 300px;
  /* filter: grayscale(); */
}

.contact-list {
  width: 40em;
  margin: auto;
  list-style: none;
  text-align: left;
}

.contact-list ul {
  list-style: none;
}

.contact-list a {
  font-size: 14px;
}

.contact-list li {
  margin-top: 0;
  font-size: 14px;
}

.contact-list p {
  padding-bottom: 0;
}

.mailto span,
.phone span {
  font-weight: bold;
  font-size: 28px;
  margin-left: -2px;
  margin-right: 10px;
  vertical-align: -4px;
  color: black;
}

.mailto span {
  margin-right: 20px;
  padding-left: 4px;
}

.mail-row {
  margin-bottom: 14px;
}

.phone span {
  font-size: 20px;
  display: none;
}

.github img {
  width: 22px;
  margin-right: 6px;
}

.github span {
  vertical-align: 6px;
}

.portfolio {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.music-stuff {
  margin-left: 3vh;
}

.linkedin-img {
  margin-left: 4vh;
}

.linkedin-img img {
  margin: 0;
}

.location {
  padding: 20px;
}

.line-bottom {
  width: 700px;
  color: #f5f1ed;
  margin: 12px auto;
}

footer p {
  padding-left: 10em;
  font-size: x-small;
  padding-bottom: 20px;
  text-align: left;
}

iframe {
  border-radius: 5px;
}

.projects img {
  width: 25rem;
}

.projects .desc {
  font-size: 12px;
}

.projects a {
  line-height: 2.3em;
}

.projects li {
  margin-bottom: 4vh;
}
